* {
    margin: 0px;
    padding: 0px;
    font-family: 標楷體;
}

body {
    background-color: #8b8687;
    scroll-behavior: smooth;
}


header {
    padding: 15%;
    margin: 7%;
    color: transparent;
    font-size: x-large;
    text-align: center;
    letter-spacing: 5px;

    /*背景漸變*/
    background: linear-gradient(to right, #8b8687, #fff, #8b8687);
    /*剪裁掉文字以外的區域*/
    -webkit-background-clip: text;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    /*執行動畫:動畫名 時長 線性 無限播放*/
    animation: move 3s linear infinite;
}

/*
header ul {
    float: right;
}

header ul li {
    display: block;
    float: left;
    padding: 0px 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: none;
}*/

button {
    border: 0;
    background-color: rgba(255, 255, 255, 0.824);
    color: rgba(0, 0, 0, 0.68);
    border-radius: 50px;
    box-shadow: 10px 10px 37px #666666,
        -10px -10px 37px #ffffff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.3;
    margin-top: 20px;

}

button:hover {
    opacity: 1;
}


/*定義動畫 header*/
@keyframes move {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

section {
    background-color: #fff;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}


.centered {
    text-align: center;
}

.photo {
    border-radius: 50%;
    display: block;
    border: #fff;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.aboutme {
    margin-top: 10px;
    font-size: 25px;
    color: #333030;
    line-height: 1.5;
}

section .text {
    padding: 10px;
    font-size: 40px;
    color: #333030;
}

article .text {
    padding: 20px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.timeline {
    display: flex;
    perspective: 1000px;
    margin: 50px 0;
    overflow: hidden;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    margin: 0 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    color: rgb(72, 69, 69);
}

.card .front {
    background-color: #fff;
}

.card .back {
    background-color: #f2f2f2;
    transform: rotateY(180deg);
}

.card img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
}

.card h2,
.card p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: #009688;
    font-weight: bold;
}

.card a.cardbutton {
    margin-top: 4px;
    padding: 7px 15px;
    font-size: 11px;
    background-color: #646666;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
}

.separator {
    width: 1px;
    background-color: #ddd;
}

.item {
    margin-bottom: 20px;
}

info .p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
    animation: progress 2s ease-out forwards;
}

.item:nth-child(1) .progress-bar {
    width: 70%;
}

.item:nth-child(2) .progress-bar {
    width: 70%;
}

.item:nth-child(3) .progress-bar {
    width: 60%;
}

.item:nth-child(4) .progress-bar {
    width: 60%;
}

.item:nth-child(5) .progress-bar {
    width: 100%;
}

.item:nth-child(6) .progress-bar {
    width: 100%;
}

.item:nth-child(7) .progress-bar {
    width: 80%;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}